.carousel-item {
    height: 600px;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}


.carousel-item01 {
    min-height: 300px;
    background: no-repeat center center scroll;
}

.tales {
    height: 370px
}




@media only screen and (max-width: 768px) {


    .carousel-item {
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {


    .carousel-item {
        height: 250px;
    }
}
