@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/events.css" rel="stylesheet" />

<div id="home" class="page-header parallax-full dark-section text-center section" style="background:#7585a6 url(../images/Events.jpg)  50% 50%;">
</div>

<div class="workinghour_bg">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb breadcrumb-right" style="padding:10px 0; margin:0;">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Events</li>
            </ol>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-4">

        <!-- Large modal -->

        <div class="modal fade ttr1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Optimed Corporation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div id="carouselExampleIndicators-1" class="carousel slide " data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators-1" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators-1" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators-1" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators-1" data-slide-to="3"></li>
                            </ol>

                            <div class="carousel-inner" role="listbox">
                                <!-- Slide One - Set the background image for this slide in the line below -->
                                <img class="carousel-item active"src="../images/events/113.jpg" />
                                <img class="carousel-item" src="../images/events/2.jpg" />
                                <img class="carousel-item" src="../images/events/311.jpg" />
                                <img class="carousel-item" src="../images/events/42.jpg"/>
                            </div>
                        </div>

                        <div class="mt-3">
                            <h5>Silhouette Brand Training 2018</h5>
                            <h6> Date: 19-02-2018</h6>
                            <p class="text-justify">
                                The aim of Silhouette Brand Training is to welcome staff from our partner institutions and share experiences covering various topics which would help the attendees learn more information about the Silhouette brand as well about its products. We Thank You all for your participation in our Silhouette brand training program 2018. We treasure your contributions and time with us, and hope you guys must have come away with right knowledge about the Silhouette brand & company.
                            </p>
                        </div>
                     </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Optimed Corporation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div id="carouselExampleIndicators-2" class="carousel slide " data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators-2" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators-2" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators-2" data-slide-to="2"></li>
                            </ol>

                            <div class="carousel-inner" role="listbox">
                                <!-- Slide One - Set the background image for this slide in the line below -->
                                <img class="carousel-item active" src="../images/events/52.jpg" />
                                <img class="carousel-item" src="../images/events/62.jpg" />
                                <img class="carousel-item" src="../images/events/7.jpg" />
                            </div>
                        </div>

                        <div class="mt-3">
                            <h5>Silhouette Brand Training 2018</h5>
                            <h6> Date: 19-02-2018</h6>
                            <p class="text-justify">
                                The aim of Silhouette Brand Training is to welcome staff from our partner institutions and share experiences covering various topics which would help the attendees learn more information about the Silhouette brand as well about its products. We Thank You all for your participation in our Silhouette brand training program 2018. We treasure your contributions and time with us, and hope you guys must have come away with right knowledge about the Silhouette brand & company.
                            </p>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade ttr2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Optimed Corporation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">


                        <div id="carouselExampleIndicators-3" class="carousel slide " data-ride="carousel">


                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="6"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="7"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="8"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="9"></li>
                                <li data-target="#carouselExampleIndicators-3" data-slide-to="10"></li>
                            </ol>


                            <div class="carousel-inner" role="listbox">
                              




                                <img class="carousel-item active" src="../images/events/8.jpg" />
                                <img class="carousel-item" src="../images/events/92.jpg" />
                                <img class="carousel-item" src="../images/events/102.jpg" />
                                <img class="carousel-item" src="../images/events/112.jpg" />
                                <img class="carousel-item" src="../images/events/122.jpg" />
                                <img class="carousel-item" src="../images/events/132.jpg" />
                                <img class="carousel-item" src="../images/events/142.jpg" />
                                <img class="carousel-item" src="../images/events/151.jpg" />
                                <img class="carousel-item" src="../images/events/161.jpg" />
                                <img class="carousel-item" src="../images/events/172.jpg" />
                                <img class="carousel-item" src="../images/events/181.jpg" />







                           
                      
                            
                            </div>
                            </div>

                        <div class="mt-3">
                            <h5>Silhouette Brand Training 2018</h5>
                            <h6> Date: 12-02-2018</h6>
                            <p class="text-justify">
                                The aim of Silhouette Brand Training is to welcome staff from our partner institutions and share experiences covering various topics which would help the attendees learn more information about the Silhouette brand as well about its products. We Thank You all for your participation in our Silhouette brand training program 2018. We treasure your contributions and time with us, and hope you guys must have come away with right knowledge about the Silhouette brand & company.
  </p>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade ttr3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Optimed Corporation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">


                        <div id="carouselExampleIndicators-3a" class="carousel slide " data-ride="carousel">


                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators-3a" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators-3a" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators-3a" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators-3a" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators-3a" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators-3a" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators-3a" data-slide-to="6"></li>
                                <li data-target="#carouselExampleIndicators-3a" data-slide-to="7"></li>

                            </ol>


                            <div class="carousel-inner" role="listbox">



                                <img class="carousel-item active" src="../images/events/201.jpg" />
                                <img class="carousel-item" src="../images/events/41.jpg" />
                                <img class="carousel-item" src="../images/events/51.jpg" />
                                <img class="carousel-item" src="../images/events/61.jpg" />
                                <img class="carousel-item" src="../images/events/110.jpg" />
                                <img class="carousel-item" src="../images/events/211.jpg" />
                                <img class="carousel-item" src="../images/events/221.jpg" />
                                <img class="carousel-item" src="../images/events/231.jpg" />
                                <img class="carousel-item" src="../images/events/310.jpg" />




                            </div>
                        </div>

                        <div class="mt-3">
                            <h5>Optics India Exhibition 2018</h5>
                            <h6> Date: 20-01-2018</h6>
                            <p class="text-justify">
                                Optimed Corporation had participated in the recently conducted Optics INDIA Exhibition held at CIDCO Navi Mumbai Vashi from 20th January to 22nd January 2018. A 108 sq. meter booth was designed especially for this occasion, where we could exhibit the newest models of Silhouette, Adidas & Etnia Barcelona.
 </p>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade ttr5" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Optimed Corporation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">


                        <div id="carouselExampleIndicators-5" class="carousel slide " data-ride="carousel">


                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators-5" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators-5" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators-5" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators-5" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators-5" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators-5" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators-5" data-slide-to="6"></li>
                                <li data-target="#carouselExampleIndicators-5" data-slide-to="7"></li>
                                <li data-target="#carouselExampleIndicators-5" data-slide-to="8"></li>

                            </ol>


                            <div class="carousel-inner" role="listbox">

                                <img class="carousel-item active" src="../images/events/91.jpg" />
                                <img class="carousel-item" src="../images/events/111.jpg" />
                                <img class="carousel-item" src="../images/events/121.jpg" />
                                <img class="carousel-item" src="../images/events/131.jpg" />
                                <img class="carousel-item" src="../images/events/141.jpg" />
                                <img class="carousel-item" src="../images/events/371.jpg" />
                                <img class="carousel-item" src="../images/events/381.jpg" />
                                <img class="carousel-item" src="../images/events/401.jpg" />



                            </div>
                        </div>

                        <div class="mt-3">
                            <h5>Zeiss 'You & Eye' Awards 2017</h5>
                            <h6> Date: 18-11-2017</h6>
                            <p class="text-justify">
                                India's first awards to reward the optical retailers who have been setting benchmarks for the entire industry, where Silhouette had participated as Co - Sponsors.
</p>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade ttr6" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Optimed Corporation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">


                        <div id="carouselExampleIndicators-6" class="carousel slide " data-ride="carousel">


                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators-6" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators-6" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators-6" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators-6" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators-6" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators-6" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators-6" data-slide-to="6"></li>
                                <li data-target="#carouselExampleIndicators-6" data-slide-to="7"></li>

                            </ol>


                            <div class="carousel-inner" role="listbox">



                                <img class="carousel-item active" src="../images/events/261.jpg" />
                                <img class="carousel-item" src="../images/events/301.jpg" />
                                <img class="carousel-item" src="../images/events/312.jpg" />
                                <img class="carousel-item" src="../images/events/321.jpg" />
                                <img class="carousel-item" src="../images/events/331.jpg" />
                                <img class="carousel-item" src="../images/events/341.jpg" />
                                <img class="carousel-item" src="../images/events/351.jpg" />
                                <img class="carousel-item" src="../images/events/361.jpg" />






                            </div>
                        </div>

                        <div class="mt-3">
                            <h5>Blogging Events</h5>
                            <h6> Date: 01-10-2017</h6>
                            <p class="text-justify">
                                Blogging activity by HOUSE of MISU showcasing Etnia Barcelona </p>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade ttr7" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Optimed Corporation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">


                        <div id="carouselExampleIndicators-7" class="carousel slide " data-ride="carousel">


                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators-7" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators-7" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators-7" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators-7" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators-7" data-slide-to="4"></li>


                            </ol>


                            <div class="carousel-inner" role="listbox">
                                
                                 <img class="carousel-item active" src="../images/events/17.jpg" />
                                <img class="carousel-item" src="../images/events/18.jpg" />
                                <img class="carousel-item" src="../images/events/19.jpg" />
                                <img class="carousel-item" src="../images/events/15.jpg" />
                                <img class="carousel-item" src="../images/events/16.jpg" />







                            </div>
                        </div>

                        <div class="mt-3">
                            <h5>Optics India Exhibition 2017
</h5>
                            <h6> Date: 13-01-2017</h6>
                            <p class="text-justify">
                                RSD Expositions has more than 30 Years of experience in organizing trade shows for the optical sector in India.
                                 Optimed Corporation stall representing Silhouette, Etnia Barcelona & Adidas at Optics INDIA Exhibition 2017. </p>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="clearfix mb-2"></div>

        <div class="col-lg-3 col-sm-6 portfolio-item">

            <div class="card">
                <a href="#" data-toggle="modal" data-target=".ttr1"><img class="card-img-top" src="../images/113.jpg" alt=""></a>
                <p class="bg-primaryb text-dark">Silhouette Brand Training 2018</p>

                <p class="style01">
                    <b>Venue:</b> Ahmedabad<br>
                    <b>Date:</b> 19th February 2018
                </p>

            </div>
        </div>

        <div class="col-lg-3 col-sm-6 portfolio-item">

            <div class="card">
                <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top" src="../images/52.jpg" alt=""></a>
                <p class="bg-primaryb text-dark">Silhouette Brand Training 2018</p>

                <p class="style01">
                    <b>Venue:</b> The Gateway Hotel Athwalines<br>
                    <b>Date:</b> 17th February 2018
                </p>

            </div>
        </div>

        <div class="col-lg-3 col-sm-6 portfolio-item">
            <div class="card ">
                <a href="#" data-toggle="modal" data-target=".ttr2"><img class="card-img-top" src="../images/8.jpg" alt=""></a>
                <p class="bg-primaryb text-dark">Silhouette Brand Training 2018</p>

                <p class="style01">
                    <b>Venue:</b> Hotel Marine Plaza - Mumbai<br>
                    <b>Date:</b> 12th February 2018
                </p>

            </div>
        </div>

        <div class="col-lg-3 col-sm-6 portfolio-item">
            <div class="card ">
                <a href="#" data-toggle="modal" data-target=".ttr3"><img class="card-img-top" src="../images/201.jpg" alt=""></a>
                <p class="bg-primaryb text-dark">Optics India Exhibition 2018</p>

                <p class="style01">
                    <b>Venue:</b> CIDCO Navi Mumbai Vashi.<br>
                    <b>Date:</b> 20th January 2018
                </p>

            </div>
        </div>

        <div class="col-lg-3 col-sm-6 portfolio-item">

            <div class="card">
                 <a href="#" data-toggle="modal" data-target=".ttr5"><img class="card-img-top" src="../images/91.jpg" alt=""></a>
                <p class="bg-primaryb text-dark">Zeiss 'You & Eye' Awards 2017</p>

                <p class="style01">
                    <b>Venue:</b> Radisson Blu Plaza Delhi Airport<br>
                    <b>Date:</b> 18th November 2017 
                </p>

            </div>
        </div>

        <div class="col-lg-3 col-sm-6 portfolio-item">
            <div class="card ">
                <a href="#" data-toggle="modal" data-target=".ttr6"><img class="card-img-top" src="../images/261.jpg" alt=""></a>
                <p class="bg-primaryb text-dark">Blogging Events</p>

                <p class="style01">
                    <b>Venue:</b> Mumbai<br>
                    <b>Date:</b> 1st October 2017 
                </p>

            </div>
        </div>

        <div class="col-lg-3 col-sm-6 portfolio-item">

            <div class="card">
                <a href="#" data-toggle="modal" data-target=".ttr7"><img class="card-img-top" src="../images/15.jpg" alt=""></a>
                <p class="bg-primaryb text-dark">Optics India Exhibition 2017</p>

                <p class="style01">
                    <b>Venue:</b> New Delhi<br>
                    <b>Date:</b> 13th January 2017
                </p>

            </div>
        </div>


    </div>
</div>