
@{
    ViewBag.Title = "Our Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*<div id="home" class="page-header parallax-full dark-section text-center section" style="background: url(../images/our-story-banner.jpg)  50% 50%;">
    <div class="video-section-mask"></div>
    <a href="#rrr" class="scroll-down-icon scroll-to">
        <img src="../images/down-arrow.png" alt="" />
    </a>
</div>*@

<div id="home" class="dark-section text-center section">
    <img class="img-fluid img_hpercent" src="~/images/our-story-banner.jpg" alt="" />
    <div class="video-section-mask"></div>
</div>

<div class="workinghour_bg">
    <div class="container">

        <div class="row">
            <ol class="breadcrumb breadcrumb-right" style="padding:10px 0; margin:0;">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Our Story</li>
            </ol>


        </div>
    </div>
</div>



<section id="rrr" class="py-3">
    <div class="container">

        <div class="row align-items-center">

            <div class="col-md-5">

                <h2 class="agile-title">
                    Optimed Corporation - Excellence in Eyewear
                </h2>
                <span class="w3-line"></span>


                <p class="mt-3">
                    Optimed Corporation is one of the leading distributors of eyewear in the Indian market today. A family business, Optimed Corporation has always maintained sustainable and concrete relationships with retailers around the nation. Committed to our motto “Excellence in Eyewear”, and our entire distribution portfolio emphasizes quality, style, design and elegance"

                </p>
            </div>

            <div class="col-md-7 ">
                <img class="img-fluid pt-5" src="../images/out-story-img01.jpg" alt="" />

            </div>

        </div>
    </div>
</section>


<section id="" class="py-4 ">
    <div class="container">

        <div class="row align-items-center">



            <div class="col-md-7 "><img class="img-fluid pt-5" src="../images/abt-block.jpg" alt="" /> </div>

            <div class="col-md-5">
          

                <h2 class="agile-title">50 Years of Excellence</h2>
                <span class="w3-line"></span>
                <p class="mt-3">
                    With an industry experience that spans more than 50 years, Optimed Corporation has not only evolved in its operations but also has expanded its network, based on its core values of trust and quality. Today, Optimed Corporation is successfully delivering the finest quality of optical brands to retailers.



                </p>
            </div>

        </div>
    </div>
</section>




<section id="" class="py-5 Our_Story2">
    <div class="container">

        <div class="text-center">
            <h2>Brand Portfolio</h2>
            <span class="w3-line01"></span>

            <p>
                We take pride in ourselves to be the Sole distributors of renowned brands in India.

            </p>
        </div>
        <div class="clearfix"></div>
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img class="img-fluid pt-5" src="../images/etnia-oobarcelona.jpg" alt="" />
                <div class="clearfix"></div>
                @*<div class="text-center">  Silhouette</div>
                <span class="w3-line01"></span>*@


            </div>


            <div class="col-md-6 text-center">
                <img class="img-fluid pt-5" src="../images/etnia-oobarcelona-04.jpg" alt="" />
                <div class="clearfix"></div>
                @*<div class="text-center">  Adidas</div>
                <span class="w3-line01"></span>*@



            </div>


            @*<div class="col-md-4 text-center">
                <img class="img-fluid pt-5" src="../images/etnia-oobarcelona-05.jpg" alt="" />               
            </div>*@


        </div>
    </div>
</section>



<section class="across_cities py-4">
    <div class="container">

        <div class="row align-items-center">

            <div class="col-md-7">
                <h4 class="text-white">Across 50 Cities</h4>
                <span class="w3-line03"></span>

                <p class="text-white mt-3">
                    Our network spans across the nation. We distribute a high-quality and exquisite collection of eyewear. Our distribution and marketing network serves top optical stores around the country which includes retail chains, independent optical stores, fashion boutiques and eye hospitals. We cater more than 700 opticians in over 50 cities. With the help and support of our team members, we wish to achieve unhindered success in every task we undertake.


                </p>
            </div>

            <div class="col-md-5">
                <img class="img-fluid pt-5" src="../images/india-map.jpg" alt="" />

            </div>

        </div>
    </div>
</section>



<section class="">


    <div class="container">
        <div class="row py-4">




            <div class="col-md-4 d-flex align-items-stretch">
                <div class="purple_box p-3">
                    <h3>
                        <i class="fa fa-history" aria-hidden="true"></i>
                    </h3>
                    <h3>History</h3>
                    <p>
                        Since its inception in 1986, Optimed Corporation has established itself as one of the most reliable and venerable suppliers of the latest range of spectacle frames in India.
                    </p>


                </div>
            </div>


            <div class="col-md-4 d-flex align-items-stretch">
                <div class="purple_box p-3">
                    <h3><i class="fa fa-flag" aria-hidden="true"></i></h3>
                    <h3>Mission</h3>
                    <p>
                        To provide high-quality products coupled with unsurpassed service that together delivers premium value to our customers.


                    </p>

                </div>
            </div>



            <div class="col-md-4 d-flex align-items-stretch">
                <div class="purple_box p-3">
                    <h3>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </h3>
                    <h3>Vision</h3>
                    <p>
                        We further aim to establish Optimed Corporation as a name that stands for trust & quality and to be the leading distributor & supplier of the finest eyewear products in India.
                    </p>


                </div>
            </div>


        </div>
    </div>
</section>
